body{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}

.fondo-principal{
    width: 100%;
    height: 100vh;
    background-image: url("../img/deportes.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fondo-principal h1{
    font-size: 60px;
    color: white;
    text-shadow: 0 0 30px #09339d;
    text-align: center;
}
.titulos{
    font-size: 35px;
    text-align: center;
    padding: 20px 0px;
    text-shadow: 0 0 30px #b91817;
}
.informacion{
    text-align: justify;
    padding: 40px;
    font-size: 22px;
    color: white;
}
